{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
<div class="col-sm-10 col-sm-offset-1">
	<form method="post" role="form" class="form-horizontal" enctype="multipart/form-data">
		<h3 style="margin-bottom:20px;">Edit User Profile</h3>
	    {% csrf_token %}
		<div class="col-sm-10" style="margin-left:-28px;">
  	  	{% if form.errors %}
			<p class="text-danger" style="margin-left:13px;">
			  {% for field in form %}
				  {% for error in field.errors %}
  	          		<strong>{{ error|escape }}</strong><br>
  	      	  	{% endfor %}
			  {% endfor %}
  	    	</p>
		{% elif success %}
			<span class="alert alert-success col-sm-4"><strong>Saved changes successfully.</strong></span>
		{% endif %}
  	    </div>
	    <div class="col-sm-3">
			<div class="form-group">
				<div class="form-group">
					<img src="/static/user-{{ request.user.id}}.jpeg" class="profile-pic"></img>
				</div>	
				<div class="form-group">
					<input type="file" name="myfile" accept=".jpg,.jpeg,.png,.gif,.bmp"/>
				</div>	
			</div>
		</div>			
	    <div class="col-sm-3 col-sm-offset-1">
			<div class="form-group">
	  			<label for="id_username">User Name</label> 
				<input id="id_username" maxlength="30" name="username" type="text" value="{% firstof form.username.value request.user.username %}" class="form-control" required> 
			</div>
			<div class="form-group">
	  			<label for="id_email">Email</label> 
				<input id="id_email" name="email" type="email" class="form-control" required value="{% firstof form.email.value request.user.email %}">
	  		</div>
			<div class="form-group">
			    <label for="id_first_name">First Name</label> 
	 	 	    <input id="id_first_name" name="first_name" type="text" class="form-control" required value="{% firstof form.first_name.value request.user.first_name %}">
	 		</div>
			<div class="form-group">   
				<label for="id_last_name">Last Name</label> 
				<input id="id_last_name" name="last_name" type="text" class="form-control" required value="{% firstof form.last_name.value request.user.last_name %}">
			</div>	
		</div>
		<div style="clear:both;margin-top:20px;">
			<input type="submit" class="btn btn-primary" value="Save">
			<a class="btn btn-default" href="/">Cancel</a>
		</div>
  	</form>
</div>
{% endblock %}